<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcC8jIKmE-YZ_5UVjaiGqxEIz-eTy18AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>654867275356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.munozcreates.misc</string>
	<key>PROJECT_ID</key>
	<string>misc-55bde</string>
	<key>STORAGE_BUCKET</key>
	<string>misc-55bde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654867275356:ios:37487cd8759a0c7c8d1099</string>
</dict>
</plist>